<!DOCTYPE html>
<html>

<head>
  <title>

  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
      CAR MODEL APP
    </h1>

    <p>Welcome to Dera's Car Model App
    </p>
  </body>
  </body>
  <p>
  </p>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/blog">Blog</a></li>
  </ul>
</body>

</html>